<footer>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolorem, quos
    reprehenderit. Optio unde molestiae delectus praesentium esse veniam cum
    saepe sit eum perspiciatis omnis, laudantium non et animi quasi sed.
  </p>
</footer>
